.errorImage {
  width: auto;
  height: 450px;

  @media screen and (max-width: 992px) {
    width: auto;
    height: 280px;
  }

  @media (max-width: 768px) {
    width: auto;
    height: 230px;
  }
}
.imageMoc{
  width: auto;
  height: 175px;

  @media screen and (max-width: 992px) {
    width: auto;
    height: 130px;
  }

  @media (max-width: 768px) {
    width: auto;
    height: 125px;
  }  
}